
/* FUENTES */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital@1&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}


/* HEADER */
.container-fluid {
    position: sticky;
}

.nav-link {
    color: #682a06 ;
}

.nav-item{
    color: #682a06;
}

.nav-item:hover {
    border: #682a06 solid 2px;
    border-radius: 10px;
}

.navbar-toggler {
    color: #682a06;
    background-color: #dd7b42a1;
}

.logo-principal {
    height: 100px;
    width: 100px;
}
/* MAIN */
.hero {
    background-image: url("../img/Imagen-altar1.jpeg");
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 60px;
} 

.hero div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 35px;
    background-color: rgba(0, 0, 0, 0.432);
}
.refran-1 {
    font-size: 45px;
    color: white; 
    border-left: double white 5px;   
    border-right: double white 5px;  
    padding: 5px;
}

.refran-2 {
    font-size: 25px;
    color: white;
}
.hero a {
    /* BOTON*/
    text-decoration: none;
    color:white;
    font-size: 50px;
    width: fit-content;
    background-color:#c97f54;
    padding: 10px;
    border: 2.5px white solid;
    border-radius: 5px;   
}

.hero a:hover {
    background-color:#d3763f;
}

.frase {
    padding: 15px;
    font-size: 25px;
    color: #b88060;
    text-align: center;
}

.eventos {
    display:flex;
    justify-content: space-between;
}

.contenido-eventos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
}

.frase-evento{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.frase-evento h2 {
    font-size: 45px;
    color:#c97f54 ;
    text-align: right;
    border: #c97f54 double 5px;
    border-radius: 10px;
}

.frase-evento p {
    color:#7d6354;
    font-size: 30px;
    padding: 15px;
}

.imagen-casamiento1 {
    width: 50%;
}

.imagen-casamiento1 img {
height: 550px;
width: 100%;
margin: 10px;
box-shadow: 13px 6px 16px 4px rgba(0,0,0,0.45);
-webkit-box-shadow: 13px 6px 16px 4px rgba(0,0,0,0.45);
-moz-box-shadow: 13px 6px 16px 4px rgba(0,0,0,0.45);
object-fit: cover;
}


.copas {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.copas img {
    background-color:#b88060c5;
    height: 100px;
    width: 100px;
    border:#c97f54 solid 2.5px;
    border-radius: 40px;
    object-fit:fill;
    padding-left: 3px;
}

.copas img:hover {
    background-color: #c97f54;
}

.corporativos {
    display: flex;
    flex-direction: column;
}

.corporativos p a {
    color: #b88060;
    font-size: 25px;
    text-decoration:none;
}

.sociales {
    display: flex;
    flex-direction: column;
}

.sociales p a {
    color: #b88060;
    font-size: 25px;
    text-decoration:none;
}

.servicios {
    display:flex;
    justify-content: space-between;
}

.servicios img {
    height: 550px;
    width: 50%;
    margin: 10px;
    box-shadow: -12px 10px 24px 0px rgba(0,0,0,0.54);
    -webkit-box-shadow: -12px 10px 24px 0px rgba(0,0,0,0.54);
    -moz-box-shadow: -12px 10px 24px 0px rgba(0,0,0,0.54);
    object-fit: cover;
}

.contenido-servicios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenido-servicios a {
    text-decoration: none;
    color: white;
    background-color:#b88060;
    font-size: 50px;
    padding: 10px;
    border: white double 10px;
    border-radius: 20px;
    box-shadow: -12px 10px 24px 0px rgba(0,0,0,0.54);
    -webkit-box-shadow: -12px 10px 24px 0px rgba(0,0,0,0.54);
    -moz-box-shadow: -12px 10px 24px 0px rgba(0,0,0,0.54);
}

.contenido-servicios a:hover{
    background-color: #c25313;
}

.frase-servicios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.frase-servicios h2 {
    font-size: 45px;
    color:#c97f54 ;
    text-align: right;
    border: #c97f54 double 5px;
    border-radius: 10px;
}

.frase-servicios p {
    color:#7d6354;
    font-size: 30px;
    padding: 15px;
}

/* NUESTROS ESPACIOS */

.nuestros-espacios {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.nuestros-espacios h2{
    font-size: 50px;
    color:#c97f54;
    text-align: center;
    margin: 50px;
}

.imagenes-espacios {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 400px;
    gap: 15px;
}

.imagenes{
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 12px 10px 22px -14px rgba(0,0,0,0.69);
    -webkit-box-shadow: 12px 10px 22px -14px rgba(0,0,0,0.69);
    -moz-box-shadow: 12px 10px 22px -14px rgba(0,0,0,0.69);
    border: #b88060 10px double;
    border-radius: 15px;
}

.imagen-1 {
    grid-column: span 2;
}

.imagen-2 {
    grid-row: span 2;
}

.imagen-3 {
    grid-row: span 2;
}

.imagen-7 {
    grid-column: span 3;
}
/* FOOTER */
footer {
    height: 150px;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    border: #79350d 10px double;
}


.iconos-footer {
    width: 35%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer div a img {
    width: 65px;
    height: 65px;
}





/* PAGINA CONTACTANOS */

.formulario {
    padding-top: 150px;
    padding-bottom: 50px;
}


/* PAGINA EVENTOS */

    .imagenes-media {
        display: none;
    }

.main-eventos {
    padding-top: 100px;
}

.main-eventos p {
    font-size: 22px;
    color: #c97f54;
    margin: 40px;
    border-bottom: double  rgb(151, 73, 27) 5px;
    border-top: double rgb(151, 73, 27) 5px;
    padding: 20px;
    text-align: center;
}

.eventos-sociales section{
    border-top:#7c370f double 10px;
    border-bottom: #7c370f double 10px;
}

.carousel-item {
    height: 75vh;
}


.carousel-control-prev:hover{
    background-color: rgba(0, 0, 0, 0.356);
}
.carousel-control-next:hover{
    background-color: rgba(0, 0, 0, 0.356);
}
.eventos-sociales {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.eventos-sociales h2{
    font-size: 50px;
    color: #c25313;
    border: #c97f54 double 5px;
    margin-bottom: 50px;
}

.eventos-sociales ul{
    list-style-type:circle;
    width: 40%;
    color: #c25313;
    font-size: 20px;
    margin: 30px;
    border: #7c370f double 10px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.eventos-sociales ul div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 15px;
}

.eventos-corporativos {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.eventos-corporativos section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 400px;
    gap: 10px;
    width: 90%;
    margin-bottom: 40px;
    margin-top: 40px;
    border:#7c370f solid 5px;
    padding: 5px;
}


.eventos-corporativos section img {
    height: 100%;
    width: 100%;
    object-fit:cover;
    box-shadow: 12px 10px 22px -14px rgba(0,0,0,0.69);
    -webkit-box-shadow: 12px 10px 22px -14px rgba(0,0,0,0.69);
    -moz-box-shadow: 12px 10px 22px -14px rgba(0,0,0,0.69);
    border: #7c370f solid 5px;
}


.imagen-cancha-1 {
    grid-column: span 2;
    object-position: 90% 50%;
}







.eventos-corporativos h2 {
    font-size: 50px;
    color: #c25313;
    border: #c97f54 double 5px;
}

.eventos-corporativos ul {
    list-style-type:circle;
    width: 100%;
    color: #c25313;
    height: 100%;
    font-size: 20px;
    border: #7c370f double 10px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.eventos-corporativos ul div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    padding-right: 5px;
}

.link-servicios {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.link-servicios a{
    text-decoration: none;
    font-size: 40px;
    background-color: #c97f54;
    color: white;
    padding: 20px;
    border: double white 5px;
    border-radius: 15px;
}

.link-servicios a:hover{
    background-color:#c25313;
}




/* PAGINA SERVICIOS */

.main-servicios {
    padding-top: 100px;
    text-align: center;
}


.nuestros-servicios {
    color: #b88060;
    font-size: 45px;
    
}

.main-servicios p {
    font-size: 25px;
}







/* PAGINA PORQUE ELEGIRNOS */

.main-porque-elegirnos {
    padding-top: 100px;
    text-align: center;
}

.porque-elegirnos {
    color: #b88060;
    font-size: 45px;
    
}

.main-porque-elegirnos p{
    font-size: 25px;
}

/* MEDIA QUERIES */

@media screen and (max-width:1075px) {

    /* HERO */

    .refran-1 {
        font-size: 40px;    
    }
    
    .refran-2 {
        font-size: 25px;
    }

    /* PAGINA EVENTOS */

    .main-eventos p {
        font-size: 20px;
    }

    .eventos-sociales ul{
        width: 60%;
    }

    .eventos-corporativos ul {
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: start;
    }

    .carousel-item {
        padding: 0px;
        margin: 0px;
    }
}



@media screen and (max-width:960px) {

    /* HEADER*/

    header nav ul div {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
    }
    header nav ul div li {
        padding: 5px;
    }
    
    
    /* BODY */
    
    .hero {
        background-position:40%;
    } 


    .frase {
        border-bottom: #79350d double 5px;
        padding-bottom: 30px;
    }
    
    
    .eventos {
        display:flex;
        flex-direction: column-reverse;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 15px;
        border-bottom: #79350d dotted 5px;
        padding-bottom: 40px;
    }

    .contenido-eventos {
        width: 100%;
        margin-top: 20px;
    }

    .frase-evento {
        margin-bottom: 20px;
    }

    .copas {
        background-image: url("../img/imagen-casamiento1.jpeg");
        background-repeat: no-repeat;
        background-size:cover;
        background-attachment: fixed;
        height: 500px;
        border: double white 10px;
        display: flex;
        align-items: center;
    }

    .imagen-casamiento1 img{
        display: none;
    }

    .copas img {
        background-color:rgba(185, 88, 32, 0.747);
        height: 150px;
        width: 150px;
        border:white double 5px;
        border-radius: 40px;
        object-fit:fill;
        padding-left: 3px;
    }

    .corporativos {
        background-color: rgba(0, 0, 0, 0.39);
        padding: 15px;
        border-radius: 15px;
    }

    .corporativos p a {
        color: white;
        font-size: 35px;
    }

    .sociales {
        background-color: rgba(0, 0, 0, 0.39);
        padding: 15px 35px;
        border-radius: 15px;
    }

    .sociales p a {
        color: white;
        font-size: 35px;
    }



    .contenido-servicios{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
        background-image: url("../img/imagen-vajillas1.jpeg");
        background-repeat: no-repeat;
        background-size:cover;
        background-attachment: fixed;
        height: 600px;
        border: double white 10px;
        margin-top: 40px;
    }

    .frase-servicios {
        width: 40%;
        border: white double 10px;
        border-radius: 15px;
        background-color: rgba(0, 0, 0, 0.39);;
    }

    .frase-servicios h2 {
        color: white;
        border: none;
    }

    .frase-servicios p {
        color: white;
    }


    .servicios img {
        display: none;
    }

    .contenido-servicios a {
        background-color:#c25313;
    }

    /* GALERIA DE IMAGENES*/

    .imagenes-espacios {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 400px;
        gap: 15px;
    }

    .imagenes {
        grid-row: span 1;
        grid-column: span 1;
    }

    .imagen-1{
        grid-column: span 2;
    }

    .imagen-2 {
        grid-row: span 2;
    }

    .imagen-5 {
        grid-row: span 2;
    }
}

@media screen and (max-width:950px){

        /* BOOTSTRAP PARA EL NAV DEL HEADER */




    .refran-1 {
        font-size: 35px;
    }
    
    .refran-2 {
        font-size: 25px;
    }
    
    .frase {
        font-size: 17px;
    }

    .contenido-servicios{
        flex-direction: column;

    }

    .frase-servicios {
        width: 100%;
        margin: 15px;
    }

    .contenido-servicios a {
        padding: 20px;
    }
}






@media screen and (max-width: 720px){

    .hero {
        width: 100%;
        height: 500px;
        padding-top: 40px;
        background-attachment: fixed;
    } 


    .refran-1 {
        font-size: 30px;
        color:white; 
        border: white double 5px ;
        border-radius: 5px;
    }

    .refran-2 {
        display: none;
    }

    .hero a {
        color:white;
        font-size: 40px;
    }

    /* PAGINA EVENTOS */

    .eventos-sociales h2 {
        font-size: 40px;
    }

    .eventos-sociales ul{
        width: 80%;
    }


    .eventos-corporativos section {
        grid-template-columns: 1fr;
        grid-auto-rows: 350px;
        width: 100%;
    }

    .eventos-corporativos section img {
        grid-column: span 1;
    }

    .eventos-corporativos h2 {
        font-size: 40px;
    }

}



@media screen and (max-width:690px) {

    /* BODY */

    
    .frase-evento p {
        display: none;
    }

    .copas {
        background-image: none;
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .corporativos {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
    }

    .sociales {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        background-image: url(../img/imagen-casamiento1.jpeg);
        object-fit:fill;
        background-position: 50% 100%;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .copas img {
        background-color:rgba(235, 113, 43, 0.705) ;
    }

    .sociales p {
        background-color: rgba(0, 0, 0, 0.534);
        padding: 1%;
        border-radius: 10px;
    }

    .corporativos {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        background-image: url(../img/imagen-vajillas1.jpeg);
        background-position:center;
        background-size:cover;
        background-repeat: no-repeat;
    }

    .corporativos p {
        background-color: rgba(0, 0, 0, 0.534);
        padding: 1%;
        border-radius: 10px;
    }

    .frase-servicios {
        border:none;
    }

    .frase-servicios h2 {
        font-size: 45px;
    }

    .frase-servicios p{
        font-size: 25px;
    }

    .contenido-servicios a {
        font-size: 30px;
        width: 40%;
        text-align: center;
    }

    .imagenes-espacios {
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: 400px;
        gap: 15px;
    }

    .imagenes {
        grid-row: span 1;
        grid-column: span 1;
    }

/* FOOTER */

    .iconos-footer {
    width: 60%;
    }    
    
    .iconos-footer img {
    height: 60px;
    width: 60px;
    }

    /* PAGINA EVENTOS */

    .main-eventos p {
        font-size: 17px;
    }
    .eventos-sociales h2 {
        font-size: 35px;
    }

    .eventos-corporativos h2{
        font-size: 35px;
    }

    .eventos-sociales ul {
        width: 100%;
    }
}

@media screen and (max-width:640px) {
    
    /* PAGINA EVENTOS */
    .carousel {
        display: none;
    }

    .eventos-sociales h2 {
        margin: 0px;
    }

    .eventos-sociales ul {
        background-image: url(../img/logo-principal.jpeg);
        background-position: 90% 40% ;
        background-size: contain;
        height: 200px;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content:space-evenly;
        align-items: start;
    }

    .eventos-sociales ul div {
        align-items: start;
        
    }
}


@media screen and (max-width:500px){
    
    /* HERO */
    .refran-1 {
        font-size: 20px;
    }
    
    /* MAIN */
    .sociales p a{
        font-size: 27px;
    }

    .corporativos p a {
        font-size: 27px;
    }

    .frase-servicios p {
        font-size: 25px;
    }
    
    .contenido-servicios a{
            font-size: 25px;
    }

/* FOOTER */
        
    .iconos-footer img {
        height: 40px;
        width: 40px;
    }

    /* PAGINA EVENTOS */

    .main-eventos p {
        display: none;
    }

    .eventos-sociales h2 {
        font-size: 30px;
        margin-top: 40px;
    }

    .eventos-corporativos h2{
        font-size: 30px;
    }

    .eventos-sociales ul {
        background-size: 150px;
        background-position:  100% 40%;
    }

    .eventos-sociales ul li {
        font-size: 20px;
    }


}


@media screen and (max-width:415px){

    /* HERO */
    .frase {
        font-size: 15px;
    }

    /* MAIN */

    .copas div img {
        height: 100px;
        width: 100px;
    }


    /* PAGINA EVENTOS */
    .eventos-sociales ul {
        background-size: 100px;
        padding: 5px;
    }

    .eventos-sociales ul li {
        font-size: 15px;
    }

    .eventos-sociales h2 {
        font-size: 20px;
    }

    .eventos-corporativos h2 {
        font-size: 20px;
    }

    .frase-servicios p {
        font-size: 20px;
    }
    
    .contenido-servicios a{
        font-size: 20px;
        width: 50%;
    }
}



