.container-fluid{
    position: sticky;
    .navbar-brand{
        .logo-principal{
            height: 100px;
            width: 100px;
        }
    }
    .navbar-toggler{
        color: $principal-oscuro;
        background-color: #dd7b42a1;
    }
    div{
        .nav-item{
            color: $principal-oscuro;
            &:hover{
                border: $principal-oscuro solid 2px;
                border-radius: 10px;
            }
            .nav-link{
                color: $principal-oscuro
            }
        }
    }
}